body {
      height: 716px;
      width: 1440px; 
    
}

.title {
    height: 100px;
      width: 1420px; 
      text-align: center;


} 

.micorazondigital {
height: 560px;
      width: 1300px; 


  }
  
  
.divider {
height: 100%;
      width: 1320px; 
      text-align: center;

  }

.glassheart  {
height: 600px;
      width: 1150px; 
      margin-left: 115px;
      margin-top: 41px;
     
}
 grow img {
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
opacity: 1;

  }
  
  grow {
    
  height: 1000px;
  }
  
  
  .glassdigital   {
  height: 465px;
      width: 780px; 
      margin-left: 325px;
       margin-top: 30px;
  
}


.growing img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
 opacity: 1;
}


 


.scrollText {
margin-right:60px;
margin-left:400px;
width: 600px;
text-align: center;
margin-top: 70px;


  
  
  }
    
.myjar {
 height: 465px;
      width: 787px; 
     margin-left: 160px;
       margin-top: 60px;
}


.objects {
height: 170px;
width: 1425px;
  margin-right: 280px;
background-color: #ffb3d1;
  
  }
  
 
 
 
  
.shoe {
 height: 200px;
  width: 180px;  
  margin-left: 180px;
margin-bottom: 15px;

  }  
    
  .butterfly {
 height: 140px;
  width: 240px;  
    margin-left: 200px;
    margin-bottom: 40px;


  }  
  
  
  .comb {
  height: 160px;
  width: 200px;  
    margin-left: 200px;
margin-bottom: 35px;

  }  
  
  
  
  
  
  
  
  .titleobj {
    height: 50px;
      width: 1320px; 
      text-align: center;
    
} 

.scrollTextobj {
margin-right:60px;
margin-left:400px;
width: 600px;


}


.micorazondigitalobj {
height: 800px;
      width: 1400px; 
margin-left: 30px;
  }


.disstrackdrake {
  
  height: 200px;
  width: 1425px;
  
  }
  
.fantasia {
margin-top: 20px;
  
  
  
  }
  

    
  .grow3 {
    
     height: 300px; 
    width: 300px;
   
    }
    
    
 grow3 img {
transition: 1s ease;
}

.grow3 img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
opacity: 1;

  }
  
  
.install {
height: 200px;
width: 150px;
  
  
  }

.titleinstall {
height: 100px;
width: 500px;
margin-left: 230px;

  
  }
  

.bodyy {
height: 160px;
width: 1440px;
  color: #ffb9fb;
  
  }
  
    
.install {
height: 300px;
width: 270px;
margin-left: 150px;  
  }

.fantasia {
 height: 100px;
width: 1140px;
margin-left: 140px;  
  
  }
  
.textt {
margin-left: 10px;  
  
  
  }

.monitorvideo {
 margin-left: 450px;;
 margin-bottom: 50px;
  
  
  }
  
.phil {
height: 100px;
width: 200px;
  }
  
.siempre {
 height: 100px;
width: 1040px;
margin-left: 240px;  
  
  }
  .titlee {
    height: 150px;
      width: 1420px; 
margin-left: 70px;

} 

.silly {
height: 100px;
width: 450px;
  }


.silly1 {
height: 400px;
width: 560px;
  }


.silly2 {
height: 400px;
width: 560px;
  }


.silly3 {
height: 100px;
width: 450px;
margin-bottom:300px;
  }

.silly4 {
height: 390px;
width: 500px;
  }
.silly5 {
height: 390px;
width: 500px;
  }
.silly6 {
height: 390px;
width: 500px;
  }
.silly7 {
height: 390px;
width: 500px;
  }
.silly8 {
height: 300px;
width: 400px;
margin-top:200px;
margin-left:90px;
  }
.silly9 {
height: 300px;
width: 400px;
  }  
  .silly10 {
height: 300px;
width: 400px;
  }
